<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="info-header">К вашим услугам</h4>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('cloud', class: 'fa-4x icon-primary')%>
          <h3>Thing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi finibus eget libero ac porta. </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('coffee', class: 'fa-4x icon-primary')%>
          <h3>Anything</h3>
          <p>Suspendisse tristique semper ex in facilisis.
            Pellentesque maximus nec urna eu sollicitudin.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('phone', class: 'fa-4x icon-primary')%>
          <h3>Something</h3>
          <p>Phasellus et tortor orci. Sed at facilisis diam.
            Pellentesque sed dignissim quam.
            Pellentesque sed dignissim quam.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('star', class: 'fa-4x icon-primary')%>
          <h3>Never</h3>
          <p>Sed leo magna, porttitor id leo ac, mollis tincidunt risus.
            Proin blandit odio vitae rhoncus auctor.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('tree', class: 'fa-4x icon-primary')%>
          <h3>Ever</h3>
          <p>Praesent vel purus et lacus dapibus eleifend.
            Suspendisse rhoncus elit id massa porttitor rutrum.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="info-box">
          <%=icon('users', class: 'fa-4x icon-primary')%>
          <h3>Forever <3</h3>
          <p>Duis pulvinar ut risus vitae pulvinar. Integer nec pretium odio, quis condimentum metus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="examples" >
  <div class="container">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="info-header">Наши кухни</h4>
            <hr class="primary">
          </div>
        </div>


        <div class="row">
          <% @items.each do |item|%>
          <div class="col-md-6 col-sm-6">
            <div class="example-item">
            <%=link_to show_item_path(item) do%>

              <div class="example-item-image">
                <%=image_tag item.pictures.sample.image, class: 'img-responsive'%>
                <!--<img src="http://lorempixel.com/1600/900" class="img-responsive">-->
              </div>
              <div class="example-item-text">
                <%= item.title%>
              </div>
            <%end%>
            </div>
          </div>
          <%end%>
        </div>
        <div class="green-button"><%=link_to 'Перейти в каталог', catalog_path, class: 'btn-examples'%></div>


      </div>

    </div>
  </div>
</section>
