<%= form_for ([:admin, gallery]), :html => {multipart: true} do |f| %>

    <!--Видимость-->
    <div class="switch">
      <%= f.label :visible do %>
          Видимость
          <%= f.check_box :visible %>
          <span class="lever"></span>
      <% end %>
    </div>

    <!--Ошибки-->
    <% if gallery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

          <ul>
            <% gallery.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--Название-->
    <div class="input-field">
      <%= f.text_field :title%>
      <%= f.label :title, 'Название' %>
    </div>

    <!--Описание товара-->
    <div class="form-group">
      <%= f.label :description, 'Описание' %>
      <%= f.text_area :description, :class => "tinymce", :rows => 40, :cols => 120 %>
      <%= tinymce %>
    </div>

    <!--Изображения для цен-->
    <div class="form-group">
      <%= f.label :pictures, 'Изображения для цен' %>
      <div class="row">
        <div class="col-md-12">
          Всего изображений: <%= gallery.description_pictures.size %>
        </div>
      </div>
      <div class="row">
        <% gallery.description_pictures.each do |picture| %>
            <div class="col-md-2">
              <div class="image-wrapper">
                <%= link_to admin_description_picture_path(picture), method: :delete, :remote => true, :class => 'delete-image' do %>
                    <div class="image-hover">
                      <div class="image-hover-content">
                        <%= icon ('times') %>
                      </div>
                    </div>
                    <div class="image-container">
                      <div class="image">
                        <%= image_tag picture.image(:for_grid), class: 'img-responsive' %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить</span>
          <%= file_field_tag "description_images[]", type: :file, multiple: true %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Загрузите один или несколько файлов">
        </div>
      </div>
    </div>



    <!--Заголовок H1-->
    <div class="form-group">
      <%= f.label :header, 'Заголовок H1' %>
      <%= f.text_field :header, class: 'form-control' %>
    </div>

    <!--Принадлежность к категории-->
    <div class="input-field">
      <%= f.collection_select :category_id, @categories.order(:id), :id, :title,{prompt: 'Пусто'} %>
      <%= f.label :category_id, 'Категория' %>
    </div>

    <!--Мета-название-->
    <div class="input-field">
      <%= f.text_field :meta_title%>
      <%= f.label :meta_title, 'Мета-название' %>
    </div>

    <!--Мета-описание-->
    <div class="input-field">
      <%= f.text_area :meta_description, class: 'materialize-textarea'%>
      <%= f.label :meta_description, 'Мета-описание' %>
    </div>

    <!--Изображение для обложки-->
    <div class="form-group">
      <%= f.label :preview, 'Изображение-превью' %>
      <% if gallery.preview %>
          <div class="row">
            <div class="col-md-3">
              <div class="image-wrapper">
                <%= link_to admin_picture_path(gallery.preview), method: :delete, :remote => true, :class => 'delete-image' do %>
                    <div class="image-hover">
                      <div class="image-hover-content">
                        <%= icon ('times') %>
                      </div>
                    </div>
                    <div class="image-container">
                      <div class="image">
                        <%= image_tag gallery.preview.image(:for_grid), class: 'img-responsive' %>

                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить</span>
          <%= file_field_tag "preview", class: 'form-control' %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Загрузите один файл">
        </div>
      </div>
    </div>

    <!--Сделать ли превью во всю ширину?-->
    <div class="switch">
      <%= f.label :wide do %>
          Широкое превью
          <%= f.check_box :wide %>
          <span class="lever"></span>
      <% end %>
    </div>

    <!--Сделать ли превью в половину ширины экрана?-->
    <div class="switch">
      <%= f.label :half_wide do %>
          Широкое превью
          <%= f.check_box :half_wide %>
          <span class="lever"></span>
      <% end %>
    </div>

    <!--Загрузка изображений-->
    <div class="form-group">
      <%= f.label :pictures, 'Изображения' %>
      <div class="row">
        <div class="col-md-12">
          Всего изображений: <%= gallery.pictures.size %>
        </div>
      </div>
      <div class="row">
        <% gallery.pictures.each do |picture| %>
            <div class="col-md-2">
              <div class="image-wrapper">
                <%= link_to admin_picture_path(picture), method: :delete, :remote => true, :class => 'delete-image' do %>
                    <div class="image-hover">
                      <div class="image-hover-content">
                        <%= icon ('times') %>
                      </div>
                    </div>
                    <div class="image-container">
                      <div class="image">
                        <%= image_tag picture.image(:for_grid), class: 'img-responsive' %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить</span>
          <%= file_field_tag "images[]", type: :file, multiple: true %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Загрузите один или несколько файлов">
        </div>
      </div>
    </div>

    <div class="row">
      <%= f.submit 'Сохранить изменения', class: 'btn btn-default' %>
      <%= link_to 'Назад', admin_galleries_path, class: 'btn btn-default' %>
    </div>
<% end %>
