<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Создать отзыв</h1>
    </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to admin_opinions_path do %>
              <%=icon('list')%>
              Список
          <%end%>
        </li>
        <li role="presentation" class="active">
          <%= link_to new_admin_opinion_path do %>
              <%=icon('plus')%>
              Создать
          <%end%>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_for ([:admin,@opinion]), :html => {multipart: true} do |f| %>
          <% if @opinion.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

                <ul>
                  <% @opinion.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name, 'Имя' %>
            <%= f.text_field :name, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :text, 'Текст отзыва' %>
            <%= f.text_area :text, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :vk, 'Ссылка на профиль VK' %>
            <%= f.text_field :vk, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :ok, 'Ссылка на профиль Одноклассники' %>
            <%= f.text_field :ok, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :pictures, 'Изображения' %>
            <%= file_field_tag "images[]", type: :file, multiple: true %>
          </div>
          <div class="row">
            <%= f.submit 'Создать', class: 'btn btn-default' %>
            <%=link_to admin_opinions_path, class: 'btn btn-default' do%>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Назад
            <%end%>
          </div>
      <% end %>

    </div>
  </div>
</div>