<div class="opinion-info">
  <%if opinion.ok != ''%>
      <%=link_to opinion.ok do%>
          <%=icon('odnoklassniki', class:'ok')%>
          <%=opinion.name%>
      <%end%>
  <%else%>
      <%if opinion.vk != ''%>
          <%=link_to opinion.vk do%>
              <%=icon('vk', class: 'vk')%>
              <%=opinion.name%>
          <%end%>
      <%else%>
          <span class="glyphicon glyphicon-user"></span>
          <%=opinion.name%>
      <%end%>
  <%end%>
  <%=time_tag opinion.created_at%>
</div>