<% if @subcategories %>
    <div id="body">
      <div class="container-fluid bg-6">
        <div class="row">
          <div class="col-md-12">

          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row content">
          <div class="col-md-12">

            <ol class="breadcrumb text-left">
              <%=link_to 'Главная', root_path%>
              <span aria-hidden="true" class="breadcrumb-sep">•</span>
              <li class="breadcrumb-item"><%=link_to 'Каталог', catalog_path%></li>
              <span aria-hidden="true" class="breadcrumb-sep">•</span>
              <li class="breadcrumb-item"><%=@category.name%></a></li>
            </ol>

            <div class="col-md-12">
              <% @subcategories.each do |subcategory| %>
                  <div class="col-md-4 example-item text-center">
                    <%= link_to items_path(subcategory.category, subcategory), class: 'portfolio-link' do%>
                        <%=image_tag subcategory.items.sample.pictures.sample.image, class: 'img-responsive' %>
                    <%end%>
                    <div class="">
                      <div class="">
                        <div class="panel-footer"><%=subcategory.name%></div>
                      </div>
                    </div>
                  </div>
              <%end%>
            </div>

          </div>
        </div>
      </div>
    </div>
<% else %>
    <p>There is no subcategories, bro</p>
<% end %>