<div class="row">
  <!-- Панель с галереями-->
  <div class="col-md-4">
    <%=link_to admin_galleries_path, class:'panel-hover' do%>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                Последнее изменение:
                <% if @galleries_last_update %>
                    <%= time_tag @galleries_last_update%>
                <%else%>
                    Нет данных
                <%end%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <%=icon('shopping-bag', class: 'fa-5x icon-admin',)%>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%=@galleries_size%></div>
                <div>Галереи</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Работать с галереями</span>
            <span class="pull-right"><%=icon('arrow-circle-right')%></span>
            <div class="clearfix"></div>
          </div>
        </div>
    <%end%>
  </div>

  <!--Панель с категориями-->
  <div class="col-md-4">
    <%=link_to admin_categories_path, class:'panel-hover' do%>
    <div class="panel panel-blue">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            Последнее изменение:
            <% if @categories_last_update %>
                <%= time_tag @categories_last_update%>
            <%else%>
                Нет данных
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%=icon('folder-open', class: 'fa-5x icon-admin')%>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%=@categories_size%></div>
            <div>Категории</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Работать с категориями</span>
        <span class="pull-right"><%=icon('arrow-circle-right')%></span>
        <div class="clearfix"></div>
      </div>
    </div>
    <%end%>
  </div>

  <!--Панель с Дисконтами-->
  <div class="col-md-4">
    <%=link_to admin_discount_path, class:'panel-hover' do%>
        <div class="panel panel-grey">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-12">
                Последнее изменение:
                <% if @discounts_last_update %>
                    <%= time_tag @discounts_last_update%>
                <%else%>
                    Нет данных
                <%end%>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3">
                <%=icon('usd', class: 'fa-5x icon-admin',)%>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%=@discounts_size%></div>
                <div>Дисконтные товары</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <span class="pull-left">Работать с дисконтными товарами</span>
            <span class="pull-right"><%=icon('arrow-circle-right')%></span>
            <div class="clearfix"></div>
          </div>
        </div>
    <%end%>
  </div>

  <!--Панель с акциями-->
  <div class="col-md-4">
    <%=link_to admin_news_items_path, class:'panel-hover' do%>
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            Последнее изменение:
            <% if @news_items_last_update %>
                <%= time_tag @news_items_last_update%>
            <%else%>
                Нет данных
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%=icon('tags', class: 'fa-5x icon-admin')%>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%=@news_items_size%></div>
            <div>Акции</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Работать с акциями</span>
        <span class="pull-right"><%=icon('arrow-circle-right')%></span>
        <div class="clearfix"></div>
      </div>
    </div>
    <%end%>
  </div>
  <!--Панель с отзывами-->
  <div class="col-md-4">
    <%=link_to admin_opinions_path, class:'panel-hover' do%>
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            Последнее изменение:
            <% if @opinions_last_update %>
                <%= time_tag @opinions_last_update%>
            <%else%>
                Нет данных
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%=icon('comments-o', class: 'fa-5x icon-admin')%>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%=@opinions_size%></div>
            <div>Отзывы</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Работать с отзывами</span>
        <span class="pull-right"><%=icon('arrow-circle-right')%></span>
        <div class="clearfix"></div>
      </div>
    </div>
    <%end%>
  </div>
  <!--Панель с заказами-->
  <div class="col-md-4">
    <%=link_to admin_orders_path, class:'panel-hover' do%>
    <div class="panel panel-shell">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            Последнее изменение:
            <% if @orders_last_update %>
                <%= time_tag @orders_last_update%>
            <%else%>
                Нет данных
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%=icon('cart-plus', class: 'fa-5x icon-admin')%>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%=@orders_size%></div>
            <div>Заказы</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Работать с заказами</span>
        <span class="pull-right"><%=icon('arrow-circle-right')%></span>
        <div class="clearfix"></div>
      </div>
    </div>
    <%end%>
  </div>
</div>