<h1>Администрирование</h1>

<ul>
  <li>Товары <%=@items_size%></li>
  <li>Акции <%=@news_items_size%></li>
  <li>Отзывы <%=@opinions_size%></li>
  <li>Заказы <%=@orders_size%></li>
  <li>Категории <%=@categories_size%></li>
</ul>