<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Завершенный заказ "<%= @finished_order.id %>"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 panels">
      <div class="panel panel-info">
        <div class="panel-heading">Номер заказа</div>
        <div class="panel-body"><%= @finished_order.order_number %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Создано</div>
        <div class="panel-body"><%= time_tag @finished_order.created_at %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Обновлено</div>
        <div class="panel-body"><%= time_tag @finished_order.updated_at %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 buttons">
      <%=link_to 'Назад', admin_finished_orders_path, class: 'btn btn-default'%>
      <%= link_to 'Редактировать',edit_admin_finished_order_path(@finished_order), class: 'btn btn-default' %>
      <%= link_to 'Удалить', admin_finished_order_path(@finished_order), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-default'%>
    </div>
  </div>
</div>