<div class="container" style="padding-top: 50px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @order.name %>
    </div>
    <div class="panel-body">
      Id: <%= @order.id %></br>
      Название: <%= @order.name %></br>
      Номер телефона: <%= @order.phone_number %></br>
      Email: <%= @order.email %></br>
      Товар:
      <% if @order.item %>
          <%= @order.item.title %>
      <%else%>
          Нет
      <%end%>
      </br>
      Создано: <%= time_tag @order.created_at %></br>
      Обновлён: <%= time_tag @order.updated_at %></br>
    </div>
  </div>

  <%=link_to 'Назад', :back%>
</div>