<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Заказ "<%= @order.name %>"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 panels">
      <div class="panel panel-info">
        <div class="panel-heading">Имя</div>
        <div class="panel-body"><%= @order.name %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Номер телефона</div>
        <div class="panel-body"><%= @order.phone_number %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Email</div>
        <div class="panel-body"><%= @order.email %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Товар</div>
        <div class="panel-body">
          <% if @order.item %>
              <%= @order.item.title %>
          <%else%>
              Нет
          <%end%>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Создано</div>
        <div class="panel-body"><%= time_tag @order.created_at %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Обновлено</div>
        <div class="panel-body"><%= time_tag @order.updated_at %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 buttons">
      <%=link_to 'Назад', admin_orders_path, class: 'btn btn-default'%>
      <%= link_to 'Удалить', admin_order_path(@order), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-default'%>
    </div>
  </div>
</div>