<div class="container-fluid bg-3 text-center">
  <%= render 'layouts/search' %>

  <p>Результаты по поиску "Паштет"</p>
  <p><small>Всего результатов: <%=@search_result_size%> </small></p>

  <% @search_results.each do |result| %>
  <div class="container-fluid bg-3">
    <div class="media">
      <div class="media-left ">
        <%=image_tag result.pictures.sample.image, class: 'media-object'%>
      </div>
      <div class="media-body ">
        <h6 class="media-heading"><%= result.title%></h6><br>
        <p><%= result.description.html_safe %></p>
        <br>
      </div>
    </div>
  </div>
  <% end %>


<div class="center">
  <%= paginate @search_results %>
</div>

</div>