<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <%= render 'results/search_form' %><br>

      <p>Результаты поиска по запросу "<%=@query%>"</p>
      <p><small>Всего результатов: <%=@search_result_size%> </small></p>
    </div>
  </div>
  <div class="row">
    <% @search_item_results.each do |result| %>
        <div class="col-md-4">
          <div class="item-container">
            <%= link_to show_item_path(result) do%>
                <div class="item">
                  <div class="panel-footer">
                    <%= result.title%>
                  </div>
                  <%=image_tag result.pictures.sample.image, class: 'img-responsive'%>
                </div>
            <%end%>
          </div>
        </div>
    <% end %>
    <% @search_gallery_results.each do |result| %>
        <div class="col-md-4">
          <div class="item-container">
            <%= link_to show_gallery_path(result) do%>
                <div class="item">
                  <div class="panel-footer">
                    <%= result.title%>
                  </div>
                  <%=image_tag result.pictures.sample.image, class: 'img-responsive'%>
                </div>
            <%end%>
          </div>
        </div>
    <% end %>
  </div>
</div>