<h2>Расчитать стоимость</h2>
<%= form_for [@item,@order] do |f| %>
    <div class="form-group">
      <label for="name">Имя*</label>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Ваше имя' %>
    </div>
    <div class="form-group">
      <label for="phone_number">Телефон*</label>
      <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Ваш телефон'%>
    </div>
    <div class="form-group">
      <label for="email">Почта:</label>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Ваш email' %>
    </div>
    <%= f.submit 'Заказать', class: 'btn btn-default btn-lg'%>
<% end %>