<%= form_for @order, :html => { :multipart => true }, remote: true, :authenticity_token => true do |f|%>
        <div class="form-group">
          <label for="name"><span class="glyphicon glyphicon-shopping-cart"></span> Имя*</label> <span class="namespan"></span>
          <%= f.text_field :name, id: 'order_name', class: 'form-control', placeholder: 'Ваше имя', required: true, pattern: '[а-яА-ЯЁё]{2,15}' %>
        </div>
        <div class="form-group">
          <label for="phone_number"><span class="glyphicon glyphicon-user"></span> Телефон*</label> <span class="phonespan"></span>
          <%= f.text_field :phone_number,id: 'order_phone', class: 'form-control', placeholder: 'Ваш телефон', required: true, pattern: '((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}'%>
        </div>
        <div class="form-group">
          <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
          <%= f.text_field :email, class: 'form-control', placeholder: 'Ваш E-mail'%>
        </div>
        <div class="form-group">
          <%= f.label :image, 'Добавьте изображение' %>
          <%= f.file_field :image%>
        </div>
        <%= f.submit 'Заказать звонок', class: 'btn btn-block', onclick: "yaCounter42021524.reachGoal('ORDER_COMPLETED'); return true;" do%>
            <span class="glyphicon glyphicon-ok"></span>
    <% end %>
<% end %>


