<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <%if @category.title != 'catalog'%>
              <li>
                <%=link_to @gallery.category.title, subs_and_items_path(@gallery.category)%>
              </li>
          <%end%>
          <li class="active"><%=@gallery.title%></li>
        </ol>
      </div>
    </div>
  </div>
  <%if @gallery.header && @gallery.header != ''%>
      <div class="row">
        <div class="col-md-12">
          <h1 class="main-header"><%=@gallery.header.html_safe%></h1>
        </div>
      </div>
  <%end%>
  <%if @gallery.description && @gallery.description != ''%>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default description-panel">
        <div class="panel-body">
          <%=@gallery.description.html_safe%>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <div class="row">
    <div class="col-md-12">
      <% @gallery.pictures.each do |picture| %>
          <%if @gallery.half_wide? %>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                <div class="catalog-gallery-container">
                  <%=link_to picture.image.url(:original), {'data-toggle': 'lightbox','data-gallery':"gallery-gallery"} do %>
                      <%=image_tag picture.image(:half_wide), class: 'img-responsive'%>
                  <%end%>
                </div>
              </div>
          <%else%>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 text-center">
              <div class="catalog-gallery-container">
                <%=link_to picture.image.url(:original), {'data-toggle': 'lightbox','data-gallery':"gallery-gallery"} do %>
                  <%=image_tag picture.image(:for_grid), class: 'img-responsive'%>
                <%end%>
              </div>
            </div>
          <%end%>
      <%end%>
    </div>
  </div>
</div>
