

<h1>Catalog -> <%=@category.name%> -> <%=@subcategory.name%></h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Images</th>
    <th>Colors</th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title,item_path(@category,@subcategory,item) %></td>
        <td><%= item.description %></td>
        <td>
          <%if item.pictures%>
              <%item.pictures.each do |item_image|%>
                  <%= image_tag item_image.image(:thumb) %>
              <%end%>
          <%end%>
        </td>
        <td>
          <%if item.item_colors%>
              <%item.item_colors.each do |item_color|%>
                  <%= image_tag item_color.image(:thumb) %>
              <%end%>
          <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>