<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Редактировать категорию</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_for ([:admin,@category]), :html => {multipart: true} do |f| %>
          <% if @category.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

                <ul>
                  <% @category.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :title, 'Название' %>
            <%= f.text_field :title, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :description, 'Описание' %>
            <%= f.text_area :description, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :header, 'Заголовок H1' %>
            <%= f.text_field :header, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :parent_id, 'Родитель' %>
            <%= f.collection_select :parent_id, @categories.order(:id), :id, :title, include_blank: true, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :subs, 'Подкатегории' %>
            <%= collection_select :subs,:sub_id,@categories.order(:id), :id, :title,{},{multiple: true,class: 'form-control'}%>
          </div>
          <div class="form-group">
            <%= f.label :preview, 'Изображение-превью' %>
            <%if @category.preview%>
                <div class="row">
                  <div class="col-md-3">
                    <div class="image-wrapper">
                      <%=link_to admin_picture_path(@category.preview), method: :delete, :remote => true, :class => 'delete-image' do %>
                          <div class="image-hover">
                            <div class="image-hover-content">
                              <%=icon ('times')%>
                            </div>
                          </div>
                          <div class="image-container">
                            <div class="image">
                              <%=image_tag @category.preview.image,class: 'img-responsive'%>

                            </div>
                          </div>
                      <%end%>
                    </div>
                  </div>
                </div>
            <%end%>
            <%= file_field_tag "preview", class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :meta_title, 'Мета-название' %>
            <%= f.text_field :meta_title, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :meta_description, 'Мета-описание' %>
            <%= f.text_area :meta_description, class: 'form-control'%>
          </div>
          <div class="row">
            <%= f.submit 'Сохранить изменения', class: 'btn btn-default' %>
            <%=link_to admin_categories_path, class: 'btn btn-default' do%>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Назад
            <%end%>
          </div>
      <% end %>

    </div>
  </div>
</div>