<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Категория "<%= @category.title %>"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 panels">
      <div class="panel panel-info">
        <div class="panel-heading">Название</div>
        <div class="panel-body"><%= @category.title %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Категория-родитель</div>
        <div class="panel-body">
          <%if @category.parent %>
              <%= @category.parent.title %>
          <%else%>
              Нет
          <%end%>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Подкатегории</div>
        <div class="panel-body">
          <%if @category.subs.size != 0 %>
              <ul>
                <%@category.subs.each do |sub|%>
                    <li><%=sub.title%></li>
                <%end%>
              </ul>
          <%else%>
              Нет
          <%end%>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Мета-название</div>
        <div class="panel-body"><%= @category.meta_title %></div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Мета-описание</div>
        <div class="panel-body"><%= @category.meta_description %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 buttons">
      <%=link_to 'Назад', admin_categories_path, class: 'btn btn-default'%>
      <%= link_to 'Редактировать',edit_admin_category_path(@category), class: 'btn btn-default' %>
      <%= link_to 'Удалить', admin_category_path(@category), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-default'%>
    </div>
  </div>
</div>