<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <li><%=link_to @gallery.category.title, subs_and_items_path(@gallery.category)%></li>
          <li class="active"><%=@gallery.title%></li>
        </ol>
      </div>
    </div>
  </div>
  <%if @gallery.description%>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default description-panel">
        <div class="panel-body">
          <%=@gallery.description.html_safe%>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <div class="row">
    <div class="col-md-12">
      <% @gallery.pictures.each do |picture| %>
          <div class="col-md-4 text-center">
            <div class="gallery_container">
              <div class="gallery modal-image">
                <div class="gallery-hover">
                  <div class="gallery-hover-content">
                    <%= icon('search-plus')%>
                  </div>
                </div>
                <div class="pic-container">
                  <%=image_tag picture.image, class: 'img-responsive'%>
                </div>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
