<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <li><%=link_to @gallery.category.title, subs_and_items_path(@gallery.category)%></li>
          <li class="active"><%=@gallery.title%></li>
        </ol>
      </div>
    </div>
  </div>
  <%if @gallery.description%>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default description-panel">
        <div class="panel-body">
          <%=@gallery.description.html_safe%>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <div class="row">
    <div class="col-md-12">
      <% @gallery.pictures.each do |picture| %>
          <div class="col-md-4 text-center">
            <div class="gallery_container">
              <div class="gallery">
                <%= link_to '#', class: '' do%>
                    <%=image_tag picture.image, class: 'img-responsive'%>
                <%end%>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
