
<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <li class="active">
            <%if @category%>
            <%= @category.title%>
                <%end%>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% @categories.each do |category| %>
          <div class="col-md-4 text-center">
            <%if category.items.size != 0%>
            <%= link_to subs_and_items_path(category), class: 'portfolio-link' do%>
                <%=image_tag category.items.sample.pictures.sample.image, class: 'img-responsive'%>
            <%end%>
            <%else%>
                <%if category.galleries.size != 0%>
                    <%= link_to subs_and_items_path(category), class: 'portfolio-link' do%>
                        <%=image_tag category.galleries.sample.pictures.sample.image, class: 'img-responsive'%>
                    <%end%>
                <%end%>
            <%end%>
            <div class="">
              <div class="">
                <div class="panel-footer"><%=category.title%></div>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
