
<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <li class="active">
            <%if @category%>
            <%= @category.title%>
                <%end%>
          </li>
        </ol>
      </div>
      <div class="col-md-12">
        <div class="pull-right">
          <%= render 'results/search_form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% @categories.each do |category| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item-container">
                  <%= link_to subs_and_items_path(category) do%>
                      <div class="item">
                        <div class="panel-footer">
                          <%=category.title%>
                        </div>
                        <%=image_tag category.preview.image, alt: category.preview.alt, class: 'img-responsive'%>
                      </div>
                  <%end%>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
