<% if @categories %>
<div id="body">
  <div class="container-fluid bg-6">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-md-12">
        <div class="col-md-3 sidenav text-left">
          <div class="list-group">
            <a  class="list-group-item ">
              <%= form_tag results_path, method: :get, role: 'search',class: 'navbar-form' do %>
                  <div class="form-group">
                  <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Поиск' %>
                  </div>
                  <%= submit_tag "Go", name: nil , class: 'btn btn-default'%>
              <% end %>
            </a>

            <% @categories.each do |category| %>
              <%= link_to category.name, subcategories_path(category), class: 'list-group-item' %>
            <%end%>
          </div>
        </div>

        <!--TODO image_tag(category.subcategories.sample.items.sample.pictures.sample.image-->
        <% @categories.each do |category| %>
        <div class="col-md-3">
          <%= link_to subcategories_path(category) do %>
              <%=image_tag '1.jpg', class: 'sc-item-img img-responsive'%>
              <div class="panel-footer"><%=category.name%></div>
          <%end%>
        </div>
        <%end%>

      </div>
    </div>
  </div>
</div>
<% else %>
    <p>There is no categories, bro</p>
<% end %>