<div class="container box">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12  breadcrumbs-panel">
        <ol class="breadcrumb">
          <li><%=link_to 'Главная', root_path%></li>
          <li><%=link_to 'Каталог', catalog_path%></li>
          <li class="active">
            <%if @category%>
                <%= @category.title%>
            <%end%>
          </li>
        </ol>
      </div>
      <div class="col-md-12">
        <div class="pull-right">
          <%= render 'results/search_form' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @categories && @categories.size != 0 %>
      <% @categories.each do |category| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item-container">
              <%= link_to subs_and_items_path(category) do%>
              <div class="item">
                 <div class="panel-footer">
                  <%=category.title%>
                </div>
                <%=image_tag category.preview.image(:for_grid), alt: category.preview.alt, class: 'img-responsive'%>
              </div>
              <%end%>
            </div>
          </div>
      <%end%>
      <% end %>
      <% if @items && @items.size != 0 %>
      <% @items.each do |item| %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item-container">
                  <%= link_to show_category_item_path(@category,item) do%>
                      <div class="item">
                        <div class="panel-footer">
                          <%=item.title%>
                        </div>
                        <%=image_tag item.preview.image(:for_grid), alt: item.preview.alt, class: 'img-responsive' %>
                      </div>
                  <%end%>
                </div>
              </div>
      <%end%>
      <% end %>
      <% if @galleries && @galleries.size != 0 %>
          <% @galleries.each do |gallery| %>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="item-container">
                  <%= link_to show_category_gallery_path(@category,gallery) do%>
                      <div class="item">
                        <div class="panel-footer">
                          <%=gallery.title%>
                        </div>
                        <%=image_tag gallery.preview.image(:for_grid), alt: gallery.preview.alt, class: 'img-responsive' %>
                      </div>
                  <%end%>
                </div>
              </div>
          <%end%>
      <% end %>
    </div>
  </div>
</div>

