<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to root_path, class: 'navbar-brand' do%>
        <%=image_tag('logotop.jpeg', alt:'logo',)%>
      <%end%>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%=link_to 'Каталог', catalog_path%></li>
        <li>
          <%=link_to news_items_path do%>
              Акции
            <span class="badge"><%=@number_of_news%></span>
          <%end%>
        </li>
        <li data-toggle="modal" data-target="#myModal"><a>Онлайн заявка</a></li>
        <li><%=link_to 'Отзывы', opinions_path%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Оплата и доставка</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span>Адреса салонов</a></li>
      </ul>
    </div>
  </div>
</nav>