<!DOCTYPE html>
<html>
  <head>
    <title>Luckyline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table>
      <tr>
        <td>
          <%=link_to 'Каталог', root_path%>
        </td>
        <td>
          <%=link_to 'Новости', news_items_path%>
        </td>
        <td>
          <%=link_to 'Отзывы', opinions_path%>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
